.milkdown {
  --crepe-color-surface: #f8f9ff;
  --crepe-color-surface-low: #f2f3fa;
  --crepe-color-on-surface: #191c20;
  --crepe-color-on-surface-variant: #43474e;
  --crepe-color-primary: #37618e;
  --crepe-color-secondary: #d7e3f8;
  --crepe-color-on-secondary: #101c2b;
  --crepe-color-inverse: #2e3135;
  --crepe-color-on-inverse: #eff0f7;
  --crepe-color-inline-code: #ba1a1a;
  --crepe-color-error: #ba1a1a;
  --crepe-color-hover: #eceef4;
  --crepe-color-selected: #e1e2e8;
  --crepe-color-inline-area: #d8dae0;

  @apply bg-transparent;
}

.milkdown .ProseMirror {
  @apply p-0;
}

.milkdown milkdown-list-item-block p {
  @apply mt-0 mb-0;
}

.milkdown milkdown-toolbar,
.milkdown milkdown-link-edit,
.milkdown milkdown-link-preview,
.milkdown milkdown-latex-inline-edit {
  @apply bg-slate-50 shadow-md dark:bg-slate-800 rounded-md;
}

.milkdown milkdown-toolbar .toolbar-item svg {
  @apply dark:fill-slate-400 fill-slate-500;
}

.milkdown milkdown-toolbar .toolbar-item.active svg {
  @apply dark:fill-slate-50 fill-slate-800;
}

.milkdown milkdown-toolbar .divider {
  @apply bg-slate-300;
}

.milkdown .cm-activeLineGutter,
.milkdown milkdown-code-block .cm-editor {
  @apply bg-transparent;
}

.milkdown milkdown-code-block .cm-gutters {
  @apply bg-slate-50 dark:bg-slate-800;
}

.milkdown milkdown-table-block svg,
.milkdown milkdown-link-edit > .link-edit > .button > svg,
.milkdown milkdown-link-preview > .link-preview > .link-icon > svg,
.milkdown milkdown-link-preview > .link-preview > .button > svg,
.milkdown milkdown-block-handle .operation-item svg {
  @apply dark:fill-slate-400 fill-slate-500;
}

.milkdown milkdown-list-item-block li .label-wrapper svg {
  @apply fill-slate-300 dark:fill-slate-500;
}

.milkdown milkdown-code-block {
  @apply bg-slate-50 dark:bg-slate-800 rounded-md pt-2 p-4 max-sm:pt-1 max-sm:p-2;
}

.milkdown milkdown-code-block .list-wrapper,
.milkdown milkdown-slash-menu {
  @apply bg-slate-100 dark:bg-slate-900 shadow-md;
}

.milkdown milkdown-slash-menu .tab-group ul,
.milkdown milkdown-slash-menu .tab-group ul li,
.milkdown milkdown-slash-menu ul,
.milkdown milkdown-slash-menu .tab-group ul li {
  @apply mt-0 mb-0;
}

.milkdown milkdown-slash-menu {
  @apply rounded-sm block;
}

.milkdown milkdown-slash-menu ul {
  @apply ps-0;
}

.milkdown milkdown-slash-menu .tab-group ul li.selected {
  @apply bg-slate-200;
}

.milkdown milkdown-slash-menu .menu-groups .menu-group li.hover,
.milkdown milkdown-slash-menu .menu-groups .menu-group li.active {
  @apply bg-slate-200 transition-colors;
}

.milkdown milkdown-table-block .cell-handle {
  @apply bg-slate-100 dark:bg-slate-900;
}

.milkdown milkdown-block-handle {
  @apply hidden;
}

.milkdown [data-placeholder] {
  @apply text-slate-400;
}

milkdown-slash-menu {
  @apply hidden;
}
